*{
  margin: 0;
  padding: 0;
  color: #252525;
  background: #FDCE00;
  font-family: Arial, Helvetica, sans-serif;
}

/* grid styling */
.wrapper{
  display: flex;
  padding: 8rem;
  box-sizing: border-box;
}

.wrapper div{
  margin: 1rem;
}

.bg{
  width: 40%;
  border: 2px solid #252525;
}

h6{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h1{
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

.border-text{
  color: #FDCE00;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #252525;
}

footer{
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  padding: 2rem 8rem;
  width: 100%;
  border-top: 2px solid #D4B53E;
  display: flex;
  justify-content: space-between;
}

.footer--item{
  border-bottom: 2px solid #D4B53E;
}

.player--wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player--play{
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  border: 1px solid black;
}

.player--track{
  width: 70%;
  height: .5rem;
  background-color: #D4B53E;
  position: relative;
}

.player--current{
  position: absolute;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background-color: black;
  top: -.25rem;
}

