*{
  margin: 0;
  padding: 0;
  background: #FCC85F;
}

@font-face {
  font-family: 'Vitamin';
  src: url('./vitamin.ttf');
}

h1{
  font-family: 'Vitamin';
  font-size: 72px;
  color: white;
  margin: 2rem;
  text-align: center;
}

p{
  font-family: 'Helvetica'
}

audio{
  display: block;
  margin: 0 auto;
}

header{
  display: flex;
  flex-direction: row;
}

header div{
  flex: 1;
  height: 100vh;
}

img{
  position: absolute;
  bottom: 0;
}